.dummyClass {
  color: black;
}

lightning-input-field.inputCss {
  --slds-c-input-color-border: #312b2a;

}

lightning-input.inputCss {
  --slds-c-input-color-border: #312b2a;

}

lightning-combobox.inputCss {
  --slds-c-input-color-border: #312b2a;

}